body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




#container-button-logo{
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;


}




canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
}